:root {
    --forest: #4c8077;
    --operand: #63baab;
    --operator: #c4fcf0;
    --display: #fceaff;
}

html, body {
    height:100%;
    text-align: center;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#main {
    height:100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items:center;
}

#calc-body {
    background-color: #651ddc;
    border: 5px solid #937bad;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 50%;
}

.display {
    width: 100%;
    font-size: 5rem;
    height: 25%;
    border: none;
    background-color: var(--display);
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

.calc-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

button {
    height: 65px;
    border-radius: 3px;
    font-size: 2rem;
}

.operator {
    background-color: var(--operator);
}

.operator:hover {
    background-color: #d2fff5;
}

.operand {
    background-color: var(--operand);
}

.operand:hover {
    background-color: #81bdb3;
}

.all-clear {
    background-color: var(--forest);
}

.all-clear:hover {
    background-color: #5c807a;
}

.sign {
    background-color: var(--forest);
}

.sign:hover {
    background-color: #5c807a;
}

.percent {
    background-color: var(--forest);
}

.percent:hover {
    background-color: #5c807a;
}

.equals operator {
    background-color: var(--forest);
}

.equals operator:hover {
    background-color: #5c807a;
}

.decimal {
    background-color: var(--forest);
}

.decimal:hover {
    background-color: #5c807a;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}